<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Attack Analysis</title>
</head>
<style>
    thead {
      background-color: rgb(31, 180, 190);
    }
  
    table,
    th,
    td {
      border: 1.5px solid rgb(177, 166, 22);
      border-collapse: collapse;
    }
  
    td {
      padding: 5px;
      text-align: center;
    }
  
   
  
    th {
      border: 2px solid #808080;
      font-size: 20px;
      background-color: #cf630a;
      color: white;
    }
  
  
  </style>
<body>
    <section  style="background-color: #d2dee0">
        <div>
            <center>
                <h1> Heart Attack analysis using Artificial Intelligence</h1>
            </center>
        </div>
<center>
        <form method="POST" action="{{url_for('home')}}">
            <table>
                <thead>
                    <tr>
                        <th width="50%" height="50" colspan="2">Enter Below values to detect risk of Heart Attack
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Age</td>
                        <td>
                            <input type="number" step="1" min="0" max="150" name="Age"
                                required="required">
                        </td>
                    </tr>

                    <tr>
                        <td>Gender</td>
                        <td>
                            Male: <input type="radio" value="1" name="Mygender"> <span>   </span>
                            Female:<input type="radio" value="0" name="Mygender">
                        </td>
                    </tr>

                    <tr>
                        <td>Chest pain</td>
                        <td>

                            <select name="Chestpain" required>
                                <option selected disabled>Choose here</option>
                                <option value="0">Typical Angina</option>
                                <option value="1">Atypical Angina</option>
                                <option value="2">Non-Anginal Pain</option>
                                <option value="3">Asymptomatic</option>
                            </select>
                        </td>
                       
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Resting Blood Pressure (mm Hg)</td>
                        <td>
                          <input type="number" step="1" min="0" max="1000000" 
                            name="bloodpressure" required="required" >
                        </td>
                        </tr>

                        <tr>
                            <td>Cholesterol (mg/dl)</td>
                            <td>
                              <input type="number" step="1" min="0" max="1000000" 
                                name="cholestrol" required="required" >
                            </td> 
                        </tr>

                        
                    <tr>
                        <td>Fasting Blood Sugar (mg/dl)</td>
                        <td>

                            <select name="fbloodsugar" required>
                                <option selected disabled>Choose here</option>
                                <option value="0">Less than equal to 120</option>
                                <option value="1"> Greater than 120</option>
                            </select>  
                        </td>
                        
                        </td>
                    </tr>

                    <tr>
                        <td>Resting ECG</td>
                        <td>

                            <select name="RestingECG" required>
                                <option selected disabled>Choose here</option>
                                <option value="0">Normal</option>
                                <option value="1">ST-T Wave Abnormalities </option>
                                <option value="2">Left Ventricular Hypertrophy</option>
                            </select>   
                        </td>
                       
                        
                    </tr>
                    <tr>
                        <td>Maximum Heart Rate Achived</td>
                        <td>
                          <input type="number" step="1" min="0" max="1000000" 
                            name="Heartrate" required="required" >
                        </td> 
                    </tr>

                    <tr>
                        <td>Exercise Include Angina</td>
                        <td>

                            <select name="ExerciseAngina" required>
                                <option selected disabled>Choose here</option>
                               
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>   
                        </td>
                       
                        </td>
                    </tr>

                    <tr>
                        <td>ST depression induced by exercise relative to rest</td>
                        <td>
                          <input type="number" step="0.1" min="0" max="1000000" 
                            name="Stdepression" required="required" >
                        </td> 
                    </tr>

                    <tr>
                        <td>The slope of the peak exercise ST segment</td>
                        <td>

                            <select name="Slope" required>
                                <option selected disabled>Choose here</option>
                               
                                <option value="0">Unsloping</option>
                                <option value="1">Flat</option>
                                <option value="2">Downsloping</option>
                            </select>   
                        </td>

                        
                    <tr>
                        <td>Number of major vessels colored by Fluoroscopy</td>
                        <td>

                            <select name="Caa" required>
                                <option selected disabled>Choose here</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                       
                        </td>
                    </tr>

                    <tr>
                        <td>Thalassemia</td>
                        <td>

                            <select name="thal" required>
                                <option selected disabled>Choose here</option>
                               
                                <option value="1">Normal</option>
                                <option value="2">Fixed Defect</option>
                                <option value="3">Reversable Defect</option>
                            </select>   
                        </td>

<tfoot>
   
    <tr>
        <td colspan="2" bgcolor="red">
           
    <button  type="reset" value="Reset"
    style="margin-right: 40px;">Reset</button>
  <button type="submit" value="predict"> Predict </button>
  </td>
  </tr>

</tfoot>

                </tbody>
            </table>


        </form>
    </center>
    </section>

</body>

</html>